@import "../../styles/variables/mixins";

.trusted-builder{display: flex; flex-direction: row; width: 100%;
    .first{width: 33%; 
        @include media(laptopH){
            width: 32%;
        }
        @include media(tabletV){
            width: 55%;
        }
    }
    .second{width: 42%;
        @include media(laptopH){
            width: 40%;
        }
    }
    .third{width: 25%;
        @include media(tabletV){
            display: none;
        }
    }   
    
    @include media(laptopH){
       justify-content: space-between;
    }
        
}