*{margin: 0; padding: 0; box-sizing: border-box;}
body{margin:0px; padding:0px; font-family: "Poppins", sans-serif; background-color: #f5f7fb;}
$white:#fff;
$sep-outline:#c7c8cd;
$red:red;
$box:1400px;
$center:center;
$left:left;
$right:right;
$fifteen:15px;
$liquid:100%;
$blue:#1f5eff;
$light-black:#1f2733;
$poppin:"Poppins", sans-serif;