@import "../../styles/variables/colors";
.testimonial-card{
    display: grid;
    margin-top: 6%;
    grid-template-columns: 305px 60% 20%;
    gap: 20px;
    .left{
        width: 100%;
        text-align: left;
        background-color: $light-black;
        border-radius: 30px;
        padding: 20px;
        .tag{
            padding-bottom: 10px;
            color: $white;
            display: flex;
            align-items: center;
            gap:8px;
        }
        .visit-superior{
            font-size: 11px;
            padding-bottom: 10px;
            color: $white;
        }
        .para{
            font-size: 20px;
            font-weight: bold;
            color: #929292;
            padding-bottom: 10px;
        }
        .img{
            width: 100%;
            img{
                width: 100%;
                border-radius: 20px;
            }
        }
    }
    .center{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}