
.bestunit{
    .bestunit-title{font-size: 44px; font-weight: 700; line-height: 44px;
        span{font-weight: 400;}
        .bluetxt{color: #336bff; font-weight: 800;}      

    }
    .m3m-channelpartner{
        overflow: hidden;
        margin-top: 15px;
        border-radius: 20px;
        img {width: 100%; border-radius: 20px; transition: all 0.5s ease-in-out;            
         &:hover{-ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */}
        }
        
    }
}