.dlfproperty{
    .dlf-channelpartner{
        overflow: hidden;
        border-radius: 20px;
        position: relative;
        img {width: 100%; border-radius: 20px; transition: all 0.5s ease-in-out;            
         &:hover{-ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */}
        }
        
        .brand-logo{position: absolute; top: 50px; z-index: 1; text-align: center; width: 100%;
            img{width:125px}
        }
    }
}