.dlfproperty{
    .dlf-channelpartner{
        overflow: hidden;
        border-radius: 20px;
        img {width: 100%; border-radius: 20px; transition: all 0.5s ease-in-out;            
         &:hover{-ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */}
        }
        
    }
}